
// Fonts
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
    background-color: #fff;
    color: #fff;
    font-family: 'Droid Sans';
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

body{
    color: #636b6f;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

pre{
    display: block;
    margin: 0 0 11px;
    font-size: 13px;
    line-height: 1.1;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    border: none;
}

body > .container{
    margin-top: 90px;
}


.right-sidebar{
    position: fixed;
    margin-right: 20px;
    right: 15px;
}

@media(max-width:768px){
    .right-sidebar{
        position: relative;
        margin-right: 0;
        right: 0;    
    }
}


/* custom */
nav .navbar-default{
    border: none !important;
    background-image: none;
}

.navbar-brand{
    padding-top: 25px;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav > li > a {
    padding: 34px 13px;
    color: #fff;
}

nav .container{
    background-color: $main-color;
    height: 90px;
}

.navbar-default {
    background-image: -webkit-linear-gradient(top,#fff 0,$main-color 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from($main-color),to($main-color));
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075); 
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075); 
}


@media(max-width:736px){
    nav .container{
        height: 45px;
    }

    .navbar-nav{
        margin: 0px -15px;
    }

    .navbar-brand{
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 4px 1px;
        background-color: $main-color;
    }

    .navbar-default .navbar-nav > li > a:hover {
        background-color: $main-color;
    }
}


.account-show > a, .account-show > form{
    float: left;
    margin-right: 4px;
}

.account-container{
    border: solid #777 2px;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px;
    height: auto;
}

.account-link{
    color: #777 !important;
}

.account-link:hover{
    color: lightblue !important;
}

.plain-link:hover{
    text-decoration: none;
    cursor: pointer;
}

.account-monthly-breakdown{
    color: #777;
}

.bank-action{
    padding: 4px;
    color: #fff !important;
}

.bank-action:hover{
    text-decoration: none;
}

.main-btn{
    font-weight: 100;
    border-radius: 6px;
    padding: 8px;
    background: $main-color;
    border-color: #81C784;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.main-btn:hover{
    background: -webkit-gradient(linear,0% 0%,0% 100%,from($main-color),to($btn-start-color));
    background: -webkit-linear-gradient(0% 0%,0% 100%,from($main-color),to($btn-start-color));
    background: -moz-linear-gradient(center top,$main-color,$btn-start-color);
    background: linear-gradient($main-color,$btn-start-color);
    color: #fff;
}